.container-fluid
  .row
    .col-sm-6
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
    .col-sm-6
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
      = partial 'pages/about/partner', locals: {name: I18n.t("about.partner.name"), url: I18n.t("about.partner.url")}
