.involvement-wrapper{id: "partenaire-#{partner}"}
  %a{href: "#"}= I18n.t("common.back")
  %img{src: "/images/logos/partners/financial/#{partner}.png"}
  %p
    = I18n.t("about.partner.involvement.#{partner}")
