.credits
  .container-fluid
    .row
      .col-sm-3.col-sm-offset-2
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.productor"), name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
      .col-sm-3.col-sm-offset-2
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
        = partial 'pages/credits/credit', locals: {role: I18n.t("credits.role.director"),  name: lorem.name}
