.container-fluid
  .row
    .col-sm-6
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
    .col-sm-6
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
      = partial 'pages/credits/credit', locals: {role: I18n.t("credits.credit.role"), name: I18n.t("credits.credit.name")}
