.container-fluid
  .row
    .col-sm-4
      .technical-datasheets-wrapper
        .technical-datasheets-title= I18n.t("read-more.datasheets.title")
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.datasheets.datasheet.total-mastectomy"), url: "#"}
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.datasheets.datasheet.breast-reconstruction"), url: "#"}
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.datasheets.datasheet.booklet-faq"), url: "#"}
      .dvd-wrapper
        .dvd-title= I18n.t("read-more.dvds.title")
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.dvds.dvd.one.title"), author: I18n.t("read-more.dvds.dvd.one.author"), editor: I18n.t("read-more.dvds.dvd.one.editor")}
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.dvds.dvd.two.title"), author: I18n.t("read-more.dvds.dvd.two.author"), editor: I18n.t("read-more.dvds.dvd.two.editor")}
    .col-sm-4
      .web-wrapper
        .web-title= I18n.t("read-more.web.title")
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.guerir-le-regard"), url: "#"}
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.infosein-group"), url: "#"}
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.curie-institute"), url: "#"}
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.curie-institute-webradio"), url: "#"}
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.melilotus-blog"), url: "#"}
        = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.monoboob"), url: "#"}
    .col-sm-4
      .bibliography-wrapper
        .bibliography-title= I18n.t("read-more.bibliographies.title")
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.one.title"),   author: I18n.t("read-more.bibliographies.bibliography.one.author"),   editor: I18n.t("read-more.bibliographies.bibliography.one.editor")}
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.two.title"),   author: I18n.t("read-more.bibliographies.bibliography.two.author"),   editor: I18n.t("read-more.bibliographies.bibliography.two.editor")}
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.three.title"), author: I18n.t("read-more.bibliographies.bibliography.three.author"), editor: I18n.t("read-more.bibliographies.bibliography.three.editor")}
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.four.title"),  author: I18n.t("read-more.bibliographies.bibliography.four.author"),  editor: I18n.t("read-more.bibliographies.bibliography.four.editor")}
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.five.title"),  author: I18n.t("read-more.bibliographies.bibliography.five.author"),  editor: I18n.t("read-more.bibliographies.bibliography.five.editor")}
        = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.six.title"),   author: I18n.t("read-more.bibliographies.bibliography.six.author"),   editor: I18n.t("read-more.bibliographies.bibliography.six.editor")}
