%ul.nav.nav-tabs{role: "tablist"}
  %li.active{role: "presentation"}
    %a{href: "#datasheets", role: "tab", :'data-toggle' => "tab"}= I18n.t("read-more.datasheets.title")
  %li{role: "presentation"}
    %a{href: "#web", role: "tab", :'data-toggle' => "tab"}= I18n.t("read-more.web.title")
  %li{role: "presentation"}
    %a{href: "#dvds", role: "tab", :'data-toggle' => "tab"}= I18n.t("read-more.dvds.title")
  %li{role: "presentation"}
    %a{href: "#bibliographies", role: "tab", :'data-toggle' => "tab"}= I18n.t("read-more.bibliographies.title")
.tab-content
  #datasheets.tab-pane.fade.in.active{role: "tabpanel"}
    .container-fluid
      .row
        .col-sm-12
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.datasheets.datasheet.total-mastectomy"), url: {"link" => "#", "text"=> I18n.t("read-more.datasheets.datasheet.download")}}
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.datasheets.datasheet.breast-reconstruction"), url: {"link" => "#", "text"=> I18n.t("read-more.datasheets.datasheet.download")}}
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.datasheets.datasheet.booklet-faq"), url: {"link" => "#", "text"=> I18n.t("read-more.datasheets.datasheet.download")}}
  #web.tab-pane.fade{role: "tabpanel"}
    .container-fluid
      .row
        .col-sm-6
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.guerir-le-regard"), url: {"link" => "#", "text"=> I18n.t("read-more.web.link.webdoc.")}}
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.infosein-group"), url: {"link" => "#", "text"=> I18n.t("read-more.web.link.website")}}
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.curie-institute"), url: {"link" => "#", "text"=> I18n.t("read-more.web.link.website")}}
        .col-sm-6
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.curie-institute-webradio"), url: {"link" => "#", "text"=> I18n.t("read-more.web.link.website")}}
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.melilotus-blog"), url: {"link" => "#", "text"=> I18n.t("read-more.web.link.website")}}
          = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.web.monoboob"), url: {"link" => "#", "text"=> I18n.t("read-more.web.link.website")}}
  #dvds.tab-pane.fade{role: "tabpanel"}
    .container-fluid
      .row
        .col-sm-12
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.dvds.dvd.one.title"), author: I18n.t("read-more.dvds.dvd.one.author"), editor: I18n.t("read-more.dvds.dvd.one.editor")}
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.dvds.dvd.two.title"), author: I18n.t("read-more.dvds.dvd.two.author"), editor: I18n.t("read-more.dvds.dvd.two.editor")}
  #bibliographies.tab-pane.fade{role: "tabpanel"}
    .container-fluid
      .row
        .col-sm-6
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.one.title"),   author: I18n.t("read-more.bibliographies.bibliography.one.author"),   editor: I18n.t("read-more.bibliographies.bibliography.one.editor")}
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.two.title"),   author: I18n.t("read-more.bibliographies.bibliography.two.author"),   editor: I18n.t("read-more.bibliographies.bibliography.two.editor")}
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.three.title"), author: I18n.t("read-more.bibliographies.bibliography.three.author"), editor: I18n.t("read-more.bibliographies.bibliography.three.editor")}
        .col-sm-6
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.four.title"),  author: I18n.t("read-more.bibliographies.bibliography.four.author"),  editor: I18n.t("read-more.bibliographies.bibliography.four.editor")}
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.five.title"),  author: I18n.t("read-more.bibliographies.bibliography.five.author"),  editor: I18n.t("read-more.bibliographies.bibliography.five.editor")}
          = partial 'pages/read-more/media', locals: {title: I18n.t("read-more.bibliographies.bibliography.six.title"),   author: I18n.t("read-more.bibliographies.bibliography.six.author"),   editor: I18n.t("read-more.bibliographies.bibliography.six.editor")}
