.container-fluid
  .row
    .col-sm-6
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
    .col-sm-6
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
      = partial 'pages/read-more/link', locals: {name: I18n.t("read-more.link.name"), url: I18n.t("read-more.link.url")}
