#rotatescroll
  .overlay
    .viewport
      %ul.overview
        %li
          %span= I18n.t('navbar.group')
          %a.btn.btn-default{href: "#{}"}= I18n.t("common.enter")
        %li
          %span= I18n.t('navbar.mastectomy')
          %a.btn.btn-default{href: "/pages/mastectomy"}= I18n.t("common.enter")
        %li
          %span= I18n.t('navbar.reconstruction')
          %a.btn.btn-default{href: "#"}= I18n.t("common.enter")
        %li
          %span= I18n.t('navbar.alternatives')
          %a.btn.btn-default{href: "#"}= I18n.t("common.enter")
  .thumb
    #tutorial-circle.hide
      %span= I18n.t('tutorial.arrow')
  .dot

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#rotatescroll").tinycircleslider
        dotsSnap: true
        radius: 300
      return
