%footer
  .left-part
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#the-movie"}= I18n.t("the-movie.title")
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#miscellanea"}= I18n.t("miscellanea.title")
  .right-part.pull-right
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#credits"}= I18n.t("credits.title")
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#legal"}= I18n.t("legal.title")
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#read-more"}= I18n.t("read-more.title")
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#about"}= I18n.t("about.title")

= partial 'pages/modal', locals: {name: 'the-movie'   }
= partial 'pages/modal', locals: {name: 'miscellanea' }
= partial 'pages/modal', locals: {name: 'credits'     }
= partial 'pages/modal', locals: {name: 'legal'       }
= partial 'pages/modal', locals: {name: 'read-more'   }
= partial 'pages/modal', locals: {name: 'about'       }