%footer
  %nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
    .container-fluid
      .row
        .col-sm-1
          = I18n.t("footer.glossary")
        .col-sm-7
        .col-sm-1
          = I18n.t("footer.credits")
        .col-sm-1
          = I18n.t("footer.legal")
        .col-sm-1
          = I18n.t("footer.read-more")
        .col-sm-1
          = I18n.t("footer.about")
