%footer
  .left-part
    .footer-item.pull-left
      %a{href: "/pages/le-flim"}= I18n.t("the-movie.title")
    .footer-item.pull-left
      %a{href: "/pages/miscellanees"}= I18n.t("miscellanea.title")
  .right-part.pull-right
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#credits-modal"}= I18n.t("credits.title")
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#legal-modal"}= I18n.t("legal.title")
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#read-more-modal"}= I18n.t("read-more.title")
    .footer-item.pull-left
      %a{href: "#", :'data-toggle' => "modal", :'data-target' => "#about-modal"}= I18n.t("about.title")

= partial 'layouts/modals/footer', locals: {name: 'credits'     }
= partial 'layouts/modals/footer', locals: {name: 'legal'       }
= partial 'layouts/modals/footer', locals: {name: 'read-more'   }
= partial 'layouts/modals/footer', locals: {name: 'about'       }