!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="fr">
/[if IE 7 ] <html class="ie7" lang="fr">
/[if IE 8 ] <html class="ie8" lang="fr">
/[if IE 9 ] <html class="ie9" lang="fr">
/[if (gt IE 9)|!(IE)] <!--> <html lang="fr">
%head
  %title= yield_content(:title) || current_page.data.title
  %meta{:'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
  %meta{charset: 'utf-8' }
  %meta{name: 'description', content: (yield_content(:description) || current_page.data.description) }
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %link{rel: 'apple-touch-icon', sizes: '152x152', href: 'apple-touch-icon-152x152-precomposed.png' }
  %link{rel: 'apple-touch-icon', sizes: '144x144', href: 'apple-touch-icon-144x144-precomposed.png' }
  %link{rel: 'apple-touch-icon', sizes: '114x114', href: 'apple-touch-icon-114x114-precomposed.png' }
  %link{rel: 'apple-touch-icon', sizes: '120x120', href: 'apple-touch-icon-120x120-precomposed.png' }
  %link{rel: 'apple-touch-icon', sizes: '76x76', href: 'apple-touch-icon-76x76-precomposed.png' }
  %link{rel: 'apple-touch-icon', sizes: '72x72', href: 'apple-touch-icon-72x72-precomposed.png' }
  %link{rel: 'apple-touch-icon', sizes: '60x60', href: 'apple-touch-icon-60x60-precomposed.png' }
  %link{rel: 'apple-touch-icon', sizes: '57x57', href: 'apple-touch-icon-57x57-precomposed.png' }
  %link{rel: 'apple-touch-icon', href: 'apple-touch-icon-precomposed.png' }
  %link{rel: 'apple-touch-icon', href: 'apple-touch-icon.png' }
  %link{rel: 'shortcut icon', href: 'favicon.png' }
  %link{rel: 'icon', type: 'image/ico', href: 'favicon.ico' }
  = stylesheet_link_tag 'main'
%body
  .wrapper
    #screen-1.screen{:'data-video' => "http://player.vimeo.com/external/110470750.hd.mp4?s=af9b58ea0a25cff6377b7e98c52d5204"}
      %img.big-image{src: "/images/posters/00-backgroundimage-landingpage.jpg"}
        %h1.video-title= "#1 Sylvie"
    #screen-2.screen{:'data-video' => "http://player.vimeo.com/external/109821776.hd.mp4?s=123961b2d810db71fa25e52555caf8f1"}
      %img.big-image{src: "/images/posters/01-backgroundimage-groupeinfosein.jpg"}
        %h1.video-title= "#2 Groupe Info Sein"
    #screen-3.screen{:'data-video' => "http://player.vimeo.com/external/110338954.hd.mp4?s=b1877aa77bf1de90459da96b84ee758b"}
      %img.big-image{src: "/images/posters/03-videobackground-reconstruction.jpg"}
        %h1.video-title= "#3 Reconstruction chirurgicale"
    #screen-4.screen{:'data-video' => "http://player.vimeo.com/external/110339033.hd.mp4?s=bb242f139508f88774040c4301fa1a5a"}
      %img.big-image{src: "/images/posters/04-background-sans-interv.jpg"}
        %h1.video-title= "#4 Reconstruction non chirurgicale"
  = partial "layouts/header"
  = yield
  = partial "layouts/footer"
  = javascript_include_tag 'main'
  = yield_content(:javascripts)
  = google_analytics_universal_tag
:plain
  </html>
