---
title: Curie Webdoc - Guérir le regard
---
.row
  .col-sm-12
    #sylvie
      #introduced-by
        %p= I18n.t("landing.credits.introduced-by")
      .circle-container
        %span
          = partial "layouts/compass"
        .compass-title{class: "color-orange"}
          %h2= I18n.t("common.doc-title1")
          %h2= I18n.t("common.doc-title2")
          = image_tag "pictograms/" + "mastectomy" + "-white.png"
          #enter
            %button.btn.btn-warning{type: "button", :'data-toggle' => "modal", :'data-target' => "#modal-intro"}= I18n.t("common.enter")
        #productor
          %p.directed-by= I18n.t("landing.credits.directed-by")
          %p.producted-by
            = I18n.t("landing.credits.producted-by")
            = image_tag "landing/produit-par_logo.png"

%nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
  .container-fluid
    #partners
      %p= I18n.t("landing.credits.in-partenership-with")
      %ul
        - (1..8).each do |index|
          %li
            = image_tag "landing/footer_logo0#{index}.png"

= partial 'pages/landing/disclaimer'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $ ->
        BV.init()
        if Modernizr.touch
          BV.show "http://video-js.zencoder.com/oceans-clip.png"
        else
          BV.show [{ type: "video/webm", src: "http://there-is-something-in.com/curie/testhomepage/montage_curie_04.webm" }], ambient: true
        return
      return
