---
title: Curie Webdoc - Guérir le regard
layout: landing
---
#landing.container-fluid
  .row
    .col-sm-12
      #sylvie
        #introduced-by
          %p= I18n.t("landing.credits.introduced-by")
        .circle-container
          = partial "layouts/compass"
          .compass-title.color-orange
            %h2= I18n.t("common.doc-title1")
            %h2= I18n.t("common.doc-title2")
            = image_tag "pictograms/cicatrice-white.png"
            .triangle.landing-deg-triangle
              = image_tag "pictograms/arrow_orange_small.png"
            #enter
              -# For the modal + Set width 50% instead of 80% in landing.css
              -# %button.btn.btn-warning{type: "button", :'data-toggle' => "modal", :'data-target' => "#modal-intro"}= I18n.t("common.enter")
              %span.btn= "En ligne le 06.11"
          #productor
            %p.directed-by= I18n.t("landing.credits.directed-by")
            %p.producted-by
              = I18n.t("landing.credits.producted-by")
              = image_tag "logos/kepler-22.png"

#partners
  %p= I18n.t("landing.credits.in-partenership-with")
  %ul
    - partners = %w(institut-curie au-sein-de-la-difference fondation-dominique-tom-alberici mutuelle-bleue fondation-michelin astra-zeneca fondation-macsf thermes-la-roche-posay)
    - partners.each do |index|
      %li
        = image_tag "logos/partners/landing/#{index}.png"
-#= partial 'pages/landing/disclaimer'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $ ->
        BV.init()
        if Modernizr.touch
          BV.show "http://video-js.zencoder.com/oceans-clip.png"
        else
          BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110470750.hd.mp4?s=af9b58ea0a25cff6377b7e98c52d5204" }], ambient: true
        return
      return
