#navigation
  .col-sm-12
    .home-button
      %a{href: "/"}
        = image_tag 'mainNav/btn_home.png'
    .back-button
      %a{href: "."}
        = image_tag 'mainNav/btn_close_big.png'
  #compass-container.container-fluid
    .row
      .col-sm-12
        #compass-container.fixed
          = partial "layouts/compass"
          .viewport
            %h1= I18n.t("compass.inner.#{current_page.data.name}.pretitle")
            %h1{class: "color-#{current_page.data.color}"}= I18n.t("compass.inner.#{current_page.data.name}.title")
            = image_tag "pictograms/" + current_page.data.name + "-white.png"
          - current_page.data.items.each do |key, item|
            %div{class: "triangle-angle-" + item["angle-triangle"].to_s }
              = image_tag "pictograms/arrow_#{current_page.data.color}_small.png"
            - page_name = I18n.t(["nav",current_page.data.name,key].join("."))
            .menu-item{class: "menu-angle-#{item['angle-item']}" }
              - if !item["thumbnail"].nil?
                = image_tag "thumbnails/" + item["thumbnail"]
              - if !item["sub_items"].nil?
                %h2.menu-item-title
                  %a{href: "#"}= page_name 
                %ul 
                  - item["sub_items"].each do |sub_item|
                    %li
                      - item_name = I18n.t(["nav",current_page.data.name,sub_item].join("."))
                      %a{href: item_name.slugify }= item_name
              - else
                %h2.menu-item-title
                  = link_to page_name, page_name.slugify

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#modal-intro").modal "show"
      $('.menu-item').on 'mouseenter', ->
        $(this).find('ul').animate({opacity: 1})
      $('.menu-item').on 'mouseleave', ->
        $(this).find('ul').animate({opacity: 0})
      BV.init()
      if Modernizr.touch
        BV.show "http://video-js.zencoder.com/oceans-clip.png"
      else
        BV.show "http://video-js.zencoder.com/oceans-clip.mp4",
          ambient: true
          doLoop: true
      return