#modal-intro.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only= I18n.t("common.close")
        .modal-title
          %h2= I18n.t("common.doc-title").html_safe
          = image_tag "pictograms/scar-grey.png"
      .modal-body
        %p= I18n.t("disclaimer.message").html_safe
      .modal-footer
        %p
          %a{href: "/pages/home"}= I18n.t("disclaimer.discover")
        .divider
