#modal-intro.modal.fade
  .modal-dialog
    .modal-content{class: "color-#{current_page.data.color}"}
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only= I18n.t("common.close")
        .modal-title
          %h2
            = I18n.t(["nav",current_page.data.name,"title-1"].join("."))
            %br
            %span.colored= I18n.t(["nav",current_page.data.name,"title-2"].join("."))
          = image_tag "pictograms/" + (current_page.data.picto || current_page.data.name) + "-grey.png"
      .modal-body
        %p= I18n.t(["nav",current_page.data.name,"text-intro"].join("."))
      .modal-footer

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $('#modal-intro').on 'show.bs.modal', (e) ->
      if $("#video-player").length
          videojs("video-player").ready ->
            this.one 'play', ->
              this.pause()
        $('#modal-intro').on 'hidden.bs.modal', (e) ->
          videojs("video-player").ready ->
            this.play()
