.legal-wrapper
  .container-fluid
    .row
      .col-sm-12
        %section
          %strong= "Désignation du site : "
          %p= "Nom du site : guerirleregard.com (guerirleregard.fr), site Internet de l'Institut Curie"
        %section
          %strong= "Mission du site : "
          %p= "Ce site est le support d’un web-documentaire destinées aux femmes et à leurs proches, confrontées à la reconstruction chirurgicale ou non après-mastectomie. Le site diffuse des informations fiables sur cette situation et sur les possibilités de prise en charge des patientes en 2014."
          %p= "(ce site Internet est avant tout destiné au grand public mais il peut également satisfaire les professionnels de la recherche et du monde médical)"
        %section
          %span
            %strong= "Éditeur : "
            = "Institut Curie, fondation reconnue d'utilité publique (raison sociale)"
          %span
            %strong= "Tél. : "
            = "+33 1 44 32 40 00"
          %span
            %strong= "Fax : "
            = "+33 1 43 25 17 56 "
          %span
            %strong= "SIREN : "
            = "784 257 164 (Enregistré à Paris)"
          %span
            %strong= "SIRET Fondation : "
            = "784 257 164 00011"
          %span
            %strong= "SIRET Centre de Recherche : "
            = "784 257 164 00045"
          %span
            %strong= "SIRET Hôpital- site Paris : "
            = "784 257 164 00037"
          %span
            %strong= "SIRET Hôpital René Huguenin - site Saint-Cloud : "
            = "784 257 164 00086"
        %section
          %strong= "Directeur de la publication : "
          %p= "Marc Estève, Directeur de l’Ensemble Hospitalier de l’Institut Curie"
        %section
          %strong= "Responsables éditoriaux : "
          %p= "Séverine Alran, Ensemble Hospitalier de l’Institut Curie"
        %section
          %strong= "Administrateurs : "
          %p= "Kepler 22 production, Tél. : 01 47 97 10 40, 25 rue du Transvaal, 75020 Paris"
        %section
          %strong= "Chargée de la communication digitale : "
          %p
            = "Mathilde Regnault - "
            %a{href: "mailto:contact-webmaster@curie.fr"}= "contact-webmaster@curie.fr"
        %section
          %strong= "Direction de la communication : "
          %p= "Les professionnels de santé contribuant au web documentaire déclarent ne pas avoir de conflits d'intérêt."
        %section
          %strong= "Financement : "
          %p= "Ce site est entièrement financé par l'Institut Curie, grâce à la générosité de mécènes et partenaires financiers."
        %section
          %strong= "Conception, réalisation du site Internet : "
          %p
            = "Alpine Lab, Tél. : 09 50 83 12 31, 1 rue de la Martinière 69001 Lyon. "
            %a{href: "http://www.www.alpine-lab.com"}="www.alpine-lab.com"
        %section
          %strong= "Hébergement du site Internet : "
          %p= "Amazon Web Services Inc. , société de droit américain sise au P.O. Box 81226, Seattle, WA 98108-1226, United States. Amazon Web Services Inc. respecte l'accord Safe Harbor protégeant les données personnelles des citoyen de l'Union Européenne."
        %section
          %strong= "Contenus : "
          %ul
            %li= "L'Institut Curie rappelle que le contenu de son site Internet peut comporter des erreurs ou oublis, et qu'il est susceptible d'être modifié ou faire l'objet de mise à jour."
            %li= "Si vous remarquez un lien brisé, une omission ou une erreur, vous pouvez le signaler en envoyant un courriel à contact-webmaster@curie.fr"
            %li= "Toutes les informations scientifiques et médicales publiées sur ce site ont été validées par des experts dans ces domaines."
            %li= "Aucune publicité n'est admise et affichée sur ce site Internet."
        %section
          %strong= "Législation : "
          %strong= "Loi informatique et liberté : "
          %ul
            %li
              %p= "La loi n° 78-17 du 6 Janvier 1978 dite informatique et libertés modifiée par la Loi n°2004-801 du 6 Août 2004."
              %p= "En application de la loi informatique et libertés, toutes personnes dont des mentions nominatives figurent sur ce site disposent des droits d’opposition (article 26), d’accès (articles 34 à 38) et de rectification (article 36) des données les concernant. Ces droits peuvent être exercés en contactant le directeur de la publication à l’adresse suivante : Directeur de l’Ensemble Hospitalier de l’Institut Curie, 26 rue d’Ulm, 75248 PARIS CEDEX 05"
        %section
          %strong= "Droit d'auteurs et copyright : "
          %p= "L'ensemble de ce site www.guerirleregard.com relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement interdite sauf autorisation expresse du directeur de la publication."
          %p= "Conformément aux dispositions du Code de la Propriété Intellectuelle toute reproduction partielle ou totale à usage collectif est strictement interdite sans autorisation expresse de l'Institut Curie."
          %p= "Le site www.guerirleregard.com, dans la totalité de ses composantes (textes, éléments graphiques, photos) constitue une œuvre protégée en France par le Code de la Propriété Intellectuelle, et à l'étranger par les conventions internationales en vigueur sur le droit d'auteur."
          %p= "La violation de l'un de ces droits est un délit de contrefaçon passible de poursuites."
        %section
          %strong= "Crédits : "
          %a{href: "www.gurerirleregard.com/credits"}= "www.gurerirleregard.com/credits"
        %section
          %strong= "Liens hypertextes :"
          %ul
            %li= "Ce site peut contenir des liens vers des sites Internet. la responsabilité de l’Institut Curie ne saurait être engagée sur le contenu des sites autres que ceux faisant partie du domaine curie.fr ; lorsque des liens vers d’autres sites internet sont établis."
        %section
          %strong= "Nom de domaine : "
          %ul
            %li= "La réservation du nom de domaine guerirleregard.fr et guerirleregard.com a été effectuée auprès de GANDI SAS conformément aux dispositions légales en vigueur."
        %section
          %strong= "Cookies : "
          %p
            = "La navigation sur cet Intranet nécessite l'usage d'un cookie dans votre navigateur. Celui-ci ne permet pas à notre institut de vous identifier. Il enregistre des informations relatives à votre navigation sur notre site et, par conséquent, des informations relatives à vos favoris. Ainsi est enregistré notamment les pages que vous avez consultées, la date et l'heure de consultation. Vous pouvez désactiver l'enregistrement de cookies en configurant votre navigateur. Ce site utilise Google Analytics pour analyser l'audience du site et améliorer son contenu. Pour plus d'informations sur les règles de confidentialité relatives à l'utilisation de "
            %a{href: "http://www.google.com/intl/fr/analytics/privacyoverview.html"}= "Google Analytics."
