#player-wrapper
  = partial "layouts/video/player", locals: { default_src: current_page.data.videos.values.first["src"] }

  .video-description= I18n.t("videos." + current_page.data.videos.keys.first)

  .video-nav-wrapper
    - current_page.data.videos.each_with_index do |(key, video), index|
      .video-nav{data: {:'video-src' => video["src"], :'video-description' => I18n.t("videos." + key), :'video-poster' => "/images/posters/#{video['poster']}"}, class: "#{'selected' if index == 0}" }
        = image_tag "posters/" + video["thumbnail"], width: "100px"

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $('.video-nav').on 'click', 'img', ->
        video_src = $(this).parent().data('video-src')
        video_desc = $(this).parent().data('video-description')
        element = $(this).closest('.video-nav')
        videojs("video-player").ready ->
          myPlayer = this
          myPlayer.src(video_src)
          $('.video-description').text(video_desc)
          $('.video-nav.selected').removeClass('selected')
          element.addClass('selected')
          $('#video-player').data("current-video", $('.video-nav').index(element))
      videojs("video-player").ready ->
        this.on 'ended', ->
          $(".next").click()
