.container-fluid
  .row
    .col-sm-6
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
    .col-sm-6
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
      = partial 'pages/datasheets/datasheet', locals: {name: I18n.t("datasheets.datasheet.name"), url: I18n.t("datasheets.datasheet.url")}
