---
poster: /images/posters/00-backgroundimage-landingpage.jpg
layout: fullscreen
---

#landing.container-fluid
  .row
    .col-sm-12
      #introduced-by
        %p= I18n.t("landing.credits.introduced-by")
  .row
    .col-sm-12
      #compass-container.fixed
        = partial "layouts/compass"
        .viewport.color-orange
          %h1= I18n.t("common.doc-title").html_safe
          = image_tag "pictograms/scar-white.png"
          #enter
            %button.btn.btn-warning{type: "button", :'data-toggle' => "modal", :'data-target' => "#modal-intro"}= I18n.t("common.enter")
        .thumb
          .arrow

  .row
    .col-sm-12
      #productor
        %p.directed-by= I18n.t("landing.credits.directed-by")
        %p.producted-by
          = I18n.t("landing.credits.producted-by")
          = image_tag "logos/kepler-22.png"

#partners
  %p= I18n.t("landing.credits.in-partenership-with")
  %ul
    - %w(institut-curie au-sein-de-la-difference fondation-dominique-tom-alberici mutuelle-bleue fondation-michelin astra-zeneca fondation-macsf thermes-la-roche-posay).each do |partner|
      %li= image_tag "logos/partners/landing/#{partner}.png"

= partial 'layouts/modals/disclaimer'

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110470750.hd.mp4?s=af9b58ea0a25cff6377b7e98c52d5204" }], ambient: true

